.education{
    background-color: lightcoral;
    height: 100vh;
    width: 45vw;
  }
  
  .ed-line{
    width: 60%;
    height: 1px;
    background-color: white;
  }
  
  .ed-div{
    display: flex;
    justify-content: space-between
  }

  .ed-down{
    margin-top: 100%;
  }