$yellow: #feda6a;

$silver: #d4d4dc;

$matte-grey: #393f4d;

$slate: #1d1e22;

#profile{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

  #profile-header{
    color: $silver;
    font-family: 'Didot';
    font-size: 60px;
    transform: scaleY(1.2);
  }

  #profile-para{
    text-align: left;
    font-size: 30px; 
    line-height: 74px; 
    font-weight: 700; 
    font-family: 'Libre Baskerville', serif; 
  }
  
  
  
  #skills{
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  #ruby-l, #ruby-a, #javascript-l, #javascript-a, #html-l, #html-a, #github-l, #github-a, #sql-l, #sql-a, #react-l, #react-a, #redux-l, #redux-a, #java-l, #java-a{
    height: 18vh;
    width: 11vw;
    margin: 9px 20px;
    border-radius: 10%;
    text-align: center;
    vertical-align: middle;
    font-family: 'Libre Baskerville', serif; 
  }
  
  #ruby-l, #javascript-l, #github-l, #html-l, #react-l, #sql-l, #java-l, #redux-l{
    background-size: cover;
    background-position-x: center;
    text-indent: -9999px;
  }

  #java-l{
    background-image: url('../images/java.jpeg');
  }

  #redux-l{
    background-image: url('../images/redux.png');
  }
  
  #ruby-l{
    background-image: url('../images/ruby.png');
  }
  
  #javascript-l{
    background-image: url('../images/javascript.png');
  }
  
  #html-l{
    background-image: url('../images/html.jpg');
  }
  
  #github-l{
    background-image: url('../images/github.png');
  }
  
  #sql-l{
    background-image: url('../images/sql.png');
  }
  
  #react-l{
    background-image: url('../images/react.png');
  }

  #profile-text-img{
    font-family: 'Optima';
    // margin-right: 10vw;
    // margin-left: 10vw;
    display: flex;
    justify-content: space-evenly;
  }

  #header{
    text-align: center;
    color: $silver;
    font-family: 'Didot';
    font-size: 60px;
    transform: scaleY(1.2);
}

  #about{
    width: 30%;
    text-align: left;
  }

  #my-image{
    width: 20%;
  }