

.profile{
  background-color: white;
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

.profile-left{
  margin-top: 17vh;
  margin-left:  15vw;
  width: 40vw;
}

.profile-right{
  margin-top: 26vh;
  margin-right: 10vw;
}

.page-line{
  height: 85vh;
  width: 1px;
  background-color: black;
  margin-top: 5vh;
}

.down-arrow{
  height: 10vh;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ruby-l, .ruby-a, .javascript-l, .javascript-a, .html-l, .html-a, .github-l, .github-a, .sql-l, .sql-a, .react-l, .react-a, .reactNative-l, .reactNative-a, .jest-l, .jest-a{
  height: 18vh;
  width: 11vw;
  margin: 9px 0px;
  border-radius: 10%;
  text-align: center;
}

.ruby-l, .javascript-l, .github-l, .html-l, .react-l, .sql-l, .reactNative-l, .jest-l{
  background-size: cover;
  background-position-x: center;
  text-indent: -9999px;
}

.ruby-l{
  background-image: url('./images/ruby.png');
}

.ruby-a{

}

.javascript-l{
  background-image: url('./images/javascript.png');

}

.html-l{
  background-image: url('./images/html.jpg');

}

.github-l{
  background-image: url('./images/github.png');


}

.sql-l{
  background-image: url('./images/sql.png');


}

.react-l{
  background-image: url('./images/react.png');
}

.page1{
  display: flex;
  justify-content: space-evenly
}

.about{
  height: 100vh;
  width: 45vw;
}

.education{
  background-color: lightcoral;
  height: 100vh;
  width: 45vw;
}

.ed-line{
  width: 60%;
  height: 1px;
  background-color: white;
}

.ed-div{
  display: flex;
  justify-content: space-between
}

.page2{
  display: flex;
  justify-content: space-evenly
}

.projects{
  background-color: green;
  height: 100vh;
  width: 45vw;
}

.tropic, .guess-who, .secret-santa{
  display: flex;
  justify-content: space-evenly;
  width: 45vw;
  height: 20vh;
}

.tropic-img{
  background-image: url('./images/Tropic.png');
  background-size: cover;
  height: 14.5vh;
  width: 90vw;
  background-position-x: center;
}

.project-text{
  margin: 0 12px;
  text-align: center;
}

.contact{
  background-color: yellow;
  height: 100vh;
  width: 45vw;
}

.contacts{
  margin-top: 40vh;
  display: flex;
  justify-content: space-evenly;
}

.github, .linkedin{
  height: 20vh;
  width: auto;
}
